{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/henrywhitaker3/sre-operator",
  "plugins": [
    [
      "@semantic-release/github",
      {
          "successComment": false
      }
    ]
  ]
}
